body {
    direction: rtl;
}

.box {
    background-color: gray;
    width: 300px;
    height: 200px;
    position: relative;
    margin-bottom: 10px;
}

.box>div {
    background-color: aqua;
    width: 60px;
    height: 40px;
    position: absolute;
}

#div2 {
    bottom: 0;
    left: 0;
}

#div3 {
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}