<div class="w3-row">
    <div class="w3-third w3-padding" *ngFor="let item of data">
        <div class="w3-container w3-card w3-round w3-center">
            <h3>{{ item.name }}</h3>
            <h5 *ngIf="item.discount"><small style="text-decoration: line-through;">{{ item.price }} ש"ח</small></h5>
            <h5 *ngIf="!item.discount"><small>מחיר:</small></h5>
            <h5><b>{{ item.price - item.discount }} ש"ח</b></h5>

            <div class="w3-section">
                <button class="w3-btn w3-round w3-green" (click)="add(item)">הוסף לסל <i class="fas fa-shopping-cart"></i></button>
            </div>
        </div>
    </div>
</div>