@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=Rubik+Marker+Hatch&display=swap');
body {
    font-family: 'Fredoka', sans-serif;
    direction: rtl;
}

.players>div {
    min-width: 200px;
    max-width: 300px;
    padding: 8px;
    color: white;
    background-color: #9c27b0;
    min-height: 80px;
    margin: 16px;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 #afafaf;
}

.players>div:first-child {
    float: right;
}

.players>div:last-child {
    float: left;
}

.players>div h3 {
    margin: 0;
    text-align: center;
}

.players>div.active {
    box-shadow: 0 0 37px 8px #ffeb3b;
}

.players p {
    font-size: 26px;
    margin: 16px 0 6px 0;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 10px black;
}

.board {
    text-align: center;
    clear: both;
}

.cheat {
    background-color: #9c27b0 !important;
}

.imgFrame {
    background-color: #9c9c9c;
    height: 160px;
    width: 160px;
    margin: 6px;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 #afafaf;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.6s;
    display: inline-block;
}

.imgFrame:hover {
    filter: brightness(1.1);
}

.showed {
    transform: matrix3d(1, 0, 4, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1);
}

.imgFrame:not(.showed) {
    background-image: none !important;
}

.usedCard {
    visibility: hidden;
}


/* The snackbar - position it at the bottom and in the middle of the screen */

#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}


/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}