@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

body {
    direction: rtl;
    background-color: #005960;
    font-family: 'Arimo', sans-serif;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: white;
}