body {
    direction: rtl;
    background-color: #d0ffff;
    font-family: Arial, Helvetica, sans-serif;
}

#frame {
    width: 80%;
    min-height: 500px;
    background-color: #ffffffd7;
    margin: auto;
    padding-bottom: 200px;
}

header {
    background-color: #48cccc;
}

h1 {
    margin: 0;
    text-align: center;
    color: white;
    padding: 16px 8px;
    font-size: 48px;
}

.card {
    margin: 6px 0;
    padding: 8px;
    border-bottom: 1px solid;
}

p {
    font-weight: bold;
}