<nav class="navbar">
    <div class="container" [class.open]="isOpen" (click)="isOpen = !isOpen">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>

    <a *ngFor="let item of menu" [routerLink]="item.route" [class.navActive]="active == item.route">
        <i class="fas fa-{{ item.icon }}"></i> {{ item.title }}
    </a>
</nav>

<nav class="sidebar" [class.open]="isOpen">
    <a *ngFor="let item of sidebar" [routerLink]="item.route" [class.navActive]="active == item.route">
        <i class="fas fa-{{ item.icon }}"></i> {{ item.title }} <span *ngIf="item.counter"> ({{ utility[item.counter] }})</span>
    </a>
</nav>