th, td {
    text-align: center;
    vertical-align: middle;
}

input {
    max-width: 80px;
    display: inline-block;
}

.sum {
    text-align: center;
    margin: 30px;
    font-weight: bold;
    font-size: 2em;
}