form {
    max-width: 700px;
    background: #ffffffcc;
    padding: 32px;
    border-radius: 5px;
    box-shadow: 0 0 8px #00000075;
    margin: 30px auto;
}

h1 {
    text-align: center;
}

.field {
    margin-bottom: 12px;
}