<div class="btnFrame">
    <button class="w3-btn w3-green w3-round" routerLink="/market/product"><i class="fa fa-plus"></i> מוצר חדש</button>
</div>

<div class="w3-row">
    <div class="w3-third w3-padding" *ngFor="let item of data">
        <div class="w3-container w3-card w3-round w3-center">
            <h3>{{ item.name }}</h3>
            <h5>{{ item.price }} ש"ח</h5>
            <h5><small>הנחה: {{ item.discount }} ש"ח</small></h5>
            <h5><b>סה"כ: {{ item.price - item.discount }} ש"ח</b></h5>
        
            <div class="w3-section">
                <button class="w3-btn w3-round w3-green" [routerLink]="['/', 'market', 'product', item.id]">עריכה</button>
                <button class="w3-btn w3-round w3-red" (click)="remove(item)">מחיקה</button>
            </div>
        </div>
    </div>
</div>