body {
    direction: rtl;
}

h1 {
    text-align: center;
}

.container {
    margin-top: 30px;
    text-align: center;
}

.card {
    padding: 24px;
    max-width: 600px;
    margin: auto;
}

img {
    width: 354px;
    border: 12px solid white;
    box-shadow: 0 0 8px 0px #0000008a;
    margin: 4px;
    border-radius: 8px;
    filter: grayscale(1);
    transition: 0.3s;
}

img:hover {
    filter: grayscale(0);
    scale: 1.1;
    z-index: 1;
    position: relative;
    transition: 0.3s;
}