<div class="inputFrame">
    <input type="text" [(ngModel)]="newTask" (keyup.enter)="addTask()" placeholder="משימה חדשה" [class.duplicate]="isDuplicate()">
    <button class="w3-btn w3-blue w3-round" routerLink="/tasks-recycle-bin">סל מחזור <i class="fa fa-trash"></i></button>
</div>

<div class="displayMode">
    <label>
        <input [(ngModel)]="displayMode" class="w3-radio" type="radio" name="displayMode" value="columns"> עמודות
    </label>
    <label>
        <input [(ngModel)]="displayMode" class="w3-radio" type="radio" name="displayMode" value="table"> טבלה
    </label>
    <label>
        <input [(ngModel)]="displayMode" class="w3-radio" type="radio" name="displayMode" value="folders"> תיקיות
    </label>
</div>

<div class="frame" *ngIf="displayMode == 'columns'">
    <div *ngFor="let s of sections">
        <h2>{{ s.title }}</h2>

        <div class="column" (dragover)="dragover(s)" [class.drag]="s.isDrag">
            <div class="cards" [style.background-color]="s.color">
                <div *ngFor="let item of s.cards" class="card" (dragend)="dragend(s, item)" draggable="true" [style.border-color]="urlevels[item.level].color" (dblclick)="navigateTask(item)" [attr.title]="item.remark">
                    <i class="fa fa-remove" (click)="remove(s, item)"></i>
                    <p>{{ item.task }}</p>

                    <select class="w3-select w3-border w3-round" [(ngModel)]="item.level" (change)="levelChange(item)">
                        <option *ngFor="let l of urlevels" value="{{ l.level }}" [style.background-color]="l.color">{{ l.title }}</option>
                    </select>

                    <button *ngIf="s.status > TaskStatuses.open" (click)="undo(s, item)" style="background: #a02424;">החזר <i class="fa fa-arrow-right"></i></button>
                    <button class="w3-left" *ngIf="s.status == TaskStatuses.open" (click)="prossing(s, item)" style="background: #2424a0;">העבר לטיפול <i class="fa fa-arrow-left"></i></button>
                    <button class="w3-left" *ngIf="s.status == TaskStatuses.inProgress" (click)="complete(s, item)" style="background: #2424a0;">טופל <i class="fa fa-check"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="displayMode == 'table'">

</div>

<div *ngIf="displayMode == 'folders'">

</div>