table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #037d9b;
    color: white;
}

th,
td {
    padding: 6px 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #ccc;
}

.completed td:first-child {
    border-right: 5px solid green;
}

.completed td {
    background-color: #aac651;
    font-weight: 700;
}