h2 {
    text-align: center;
}

form {
    max-width: 400px;
    padding: 32px;
    border-radius: 5px;
    box-shadow: 0 0 8px #00000075;
    margin: 30px auto;

    .field {
        margin-bottom: 12px;
    }

    p {
        margin: 20px 0 0 0;
        text-align: center;
        color: #2a0fc8;
    
        a {
            text-decoration: none;
            transition: 0.3s;
            display: inline-block;
            &:hover {
                text-decoration: underline;
                scale: 1.1;
            }
        }
    }
}
