@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
body {
    direction: rtl;
    background-color: #833fb5;
    font-family: 'Secular One', sans-serif;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

div#frame {
    min-height: 500px;
    background-color: #ffffffe3;
    max-width: 900px;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    padding: 16px;
}

table {
    margin: auto;
    direction: ltr;
}

td {
    height: 100px;
    width: 100px;
    padding: 3px;
}

td div {
    height: 100%;
    border-radius: 8px;
    font-size: 42px;
    text-align: center;
    padding: 19px;
    box-sizing: border-box;
    color: white;
    background-color: #833fb5;
    cursor: pointer;
}

td div:hover {
    box-shadow: 0 0 5px 3px #7e7e7e;
}

table:hover .free {
    border: 7px solid #833fb5;
    background-color: #a265cf;
}

.gameOver {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    transition: 0.6s;
}

.gameOver p {
    background-color: #ffffffc7;
    font-size: 60px;
    color: #4caf50;
    padding: 16px;
    transform: rotate(-33deg);
    text-align: center;
    margin: auto;
    top: 0;
    right: -150px;
    bottom: 0;
    left: -150px;
    position: absolute;
    height: 90px;
}